<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="./MakeNewTask" method="post">
        <h1>Editing: <% EditTask.task %></h1>
        <input type="text" name="task" value='' />
        <input type="submit" value="add task"/>

    </form>
    <a href="/">Go back</a>
</body>
</html>