<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="./MakeNewTask" method="post">
    <input type="text" name="task" value="">
    <input type="submit" value="add task"/>
    </form>
    <ul s>
    <% List.forEach(item => { %>
        <li>
            <%= item.task %>
            <a href='/edit/<%= item.id %>'>Edit</a> 
            <a href='/delete/<%= item.id %>'>Delete</a> 
        </li>
      <% }); %>
    </ul>
</body>
</html>